.search-box{
    background-color: #222222;
    padding: 1.4em;
    display:flex;
    justify-content: center;
}

.form-control{
    padding: 0;
    padding-left: 5px;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.page-selected{
    background-color: blueviolet;
    color: wheat;
}